html, body{
    height: 100%;
}
.container-fluid{
    min-height: 100%;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
}
.about {
  text-align: justify;
  line-height: 2rem;
}

a .nav-link {
    color: black;
}

a .nav-link:hover {
    color: #000;
    background-color: #e9cd79;
}